h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
    border: 7px solid black;
}
.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
.mole {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fmedia-cache-ec0.pinimg.com%2F736x%2F76%2Fe6%2Fac%2F76e6acc08f7294023ea88b35b669738e.jpg&f=1&nofb=1);
    background-size:cover;
}